build/
install/
log/
src/OrbbecSDK_ROS2/
src/yolo_detector/yolo_detector/Fire-Smoke-v2/
src/yolo_detector/yolo_detector/Fire-Smoke-v3/
src/yolo_detector/yolo_detector/Fire-Smoke-v4/
src/yolo_detector/yolo_detector/Fire-Smoke--1/
src/yolo_detector/yolo_detector/LowLight-Person/
src/yolo_detector/yolo_detector/fire_model/
src/yolo_detector/yolo_detector/fire-and-smoke-detection-yolov8/
src/vision_pipeline/vision_pipeline/models/fire_smoke_v9_rfdetr_small.pt
*.pt
*.engine
*.onnx
__pycache__/
*.pyc
*.bak
*.bak_rotate
